In [27]:
import pandas as pd

In [28]:
pip install pandas

Requirement already satisfied: pandas in c:\users\a\appdata\local\programs\python\python310\lib\site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\a\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\a\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\a\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\a\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd

In [30]:
import pandas as pd

In [31]:
pd.__version__

'1.3.5'

In [32]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [33]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [34]:
print(pd.io.sql.get_schema(df, name='yellow_tripdata_2021-01.csv'))

CREATE TABLE "yellow_tripdata_2021-01.csv" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [35]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
print(pd.io.sql.get_schema(df, name='yellow_tripdata_2021-01.csv'))

CREATE TABLE "yellow_tripdata_2021-01.csv" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [37]:
from sqlalchemy import create_engine

In [38]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [39]:
engine.connect()

In [40]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [41]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True, chunksize=10000)

In [42]:
df_iter

In [43]:
df = next(df_iter)

In [44]:
len(df)

10000

In [45]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [46]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [47]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [48]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: total: 531 ms
Wall time: 1.15 s

In [49]:
from time import time

In [50]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end=time()
    print('inserted another chunk..., took %.3f second' % (t_end-t_start))

inserted another chunk..., took 1.204 second
inserted another chunk..., took 1.207 second
inserted another chunk..., took 1.296 second
inserted another chunk..., took 1.407 second
inserted another chunk..., took 1.186 second
inserted another chunk..., took 1.849 second
inserted another chunk..., took 1.229 second
inserted another chunk..., took 1.185 second
inserted another chunk..., took 1.307 second
inserted another chunk..., took 1.294 second
inserted another chunk..., took 1.212 second
inserted another chunk..., took 1.175 second
inserted another chunk..., took 1.318 second
inserted another chunk..., took 1.382 second
inserted another chunk..., took 1.488 second
inserted another chunk..., took 1.259 second
inserted another chunk..., took 1.137 second
inserted another chunk..., took 1.290 second
inserted another chunk..., took 1.526 second
inserted another chunk..., took 1.481 second
inserted another chunk..., took 1.374 second
inserted another chunk..., took 1.754 second
inserted another chunk..., took 1.790 second
inserted another chunk..., took 1.858 second
inserted another chunk..., took 1.980 second
inserted another chunk..., took 1.504 second
inserted another chunk..., took 1.647 second
inserted another chunk..., took 1.321 second
inserted another chunk..., took 1.372 second
inserted another chunk..., took 2.017 second
inserted another chunk..., took 1.852 second
inserted another chunk..., took 1.407 second
inserted another chunk..., took 1.194 second
inserted another chunk..., took 1.400 second
inserted another chunk..., took 1.238 second
inserted another chunk..., took 1.319 second
inserted another chunk..., took 1.190 second
inserted another chunk..., took 1.353 second
inserted another chunk..., took 1.208 second
inserted another chunk..., took 1.181 second
inserted another chunk..., took 1.291 second
inserted another chunk..., took 1.282 second
inserted another chunk..., took 1.166 second
inserted another chunk..., took 1.195 second
inserted another chunk..., took 1.246 second
inserted another chunk..., took 1.230 second
inserted another chunk..., took 1.414 second
inserted another chunk..., took 1.185 second
inserted another chunk..., took 1.136 second
inserted another chunk..., took 1.284 second
inserted another chunk..., took 1.255 second
inserted another chunk..., took 1.187 second
inserted another chunk..., took 1.379 second
inserted another chunk..., took 1.198 second
inserted another chunk..., took 1.251 second
inserted another chunk..., took 1.132 second
inserted another chunk..., took 1.251 second
inserted another chunk..., took 1.179 second
inserted another chunk..., took 1.285 second
inserted another chunk..., took 1.176 second
inserted another chunk..., took 1.296 second
inserted another chunk..., took 1.146 second
inserted another chunk..., took 1.237 second
inserted another chunk..., took 1.229 second
inserted another chunk..., took 1.197 second
inserted another chunk..., took 1.340 second
inserted another chunk..., took 1.229 second
inserted another chunk..., took 1.253 second
inserted another chunk..., took 1.180 second
inserted another chunk..., took 1.349 second
inserted another chunk..., took 1.149 second
inserted another chunk..., took 1.153 second
inserted another chunk..., took 1.197 second
inserted another chunk..., took 1.299 second
inserted another chunk..., took 1.260 second
inserted another chunk..., took 1.158 second
inserted another chunk..., took 1.194 second
inserted another chunk..., took 1.183 second
inserted another chunk..., took 1.260 second
inserted another chunk..., took 1.191 second
inserted another chunk..., took 1.193 second
inserted another chunk..., took 1.189 second
inserted another chunk..., took 1.334 second
inserted another chunk..., took 1.309 second
inserted another chunk..., took 1.148 second
inserted another chunk..., took 1.203 second
inserted another chunk..., took 1.293 second
inserted another chunk..., took 1.219 second
inserted another chunk..., took 1.202 second
inserted another chunk..., took 1.280 second
inserted another chunk..., took 1.228 second
inserted another chunk..., took 1.358 second
inserted another chunk..., took 1.207 second
inserted another chunk..., took 1.195 second
inserted another chunk..., took 1.329 second
inserted another chunk..., took 1.275 second
inserted another chunk..., took 1.299 second
inserted another chunk..., took 1.425 second
inserted another chunk..., took 1.381 second
inserted another chunk..., took 1.600 second
inserted another chunk..., took 1.340 second
inserted another chunk..., took 1.736 second
inserted another chunk..., took 1.298 second
inserted another chunk..., took 1.343 second
inserted another chunk..., took 1.423 second
inserted another chunk..., took 1.423 second
inserted another chunk..., took 1.366 second
inserted another chunk..., took 1.338 second
inserted another chunk..., took 1.593 second
inserted another chunk..., took 1.203 second
inserted another chunk..., took 1.242 second
inserted another chunk..., took 1.254 second
inserted another chunk..., took 1.579 second
inserted another chunk..., took 1.715 second
inserted another chunk..., took 1.441 second
inserted another chunk..., took 1.684 second
inserted another chunk..., took 1.469 second
inserted another chunk..., took 1.495 second
inserted another chunk..., took 1.524 second
inserted another chunk..., took 1.593 second
inserted another chunk..., took 1.284 second
inserted another chunk..., took 1.344 second
inserted another chunk..., took 1.512 second
inserted another chunk..., took 1.476 second
inserted another chunk..., took 1.547 second
inserted another chunk..., took 1.506 second
inserted another chunk..., took 1.601 second
inserted another chunk..., took 1.359 second
inserted another chunk..., took 1.357 second
inserted another chunk..., took 1.456 second
inserted another chunk..., took 1.516 second
inserted another chunk..., took 1.440 second
inserted another chunk..., took 1.420 second
inserted another chunk..., took 1.574 second
inserted another chunk..., took 1.460 second
inserted another chunk..., took 1.544 second

StopIteration: